.title {
    background: sandybrown;
    padding: 5px;
    color: blue;
    display: block;
    float: left;
    width: 100%;
    line-height: 35px;
}

.img-thumb {
    height: 350px;
    width: 100%;
}

.modal-dialog{
	width: 95%;
}

.btn-padding{
	margin-left: 5px;
	margin-right: 5px;
}
